In [2]:
from flask import Flask, render_template
from flask_sqlalchemy import SQLAlchemy # 导入扩展类
import os
import sys
import click
WIN = sys.platform.startswith('win')
if WIN: # 如果是 Windows 系统，使用三个斜线
    prefix = 'sqlite:///'
else: # 否则使用四个斜线
    prefix = 'sqlite:////'
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = prefix + os.path.join(app.root_path, 'data.db')
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False # 关闭对模型


db = SQLAlchemy(app) # 初始化扩展，传入程序实例 app

class User(db.Model): # 表名将会是 user（自动生成，小写处理）
    id = db.Column(db.Integer, primary_key=True) # 主键
    name = db.Column(db.String(20)) # 名字
class Movie(db.Model): # 表名将会是 movie
    id = db.Column(db.Integer, primary_key=True) # 主键
    title = db.Column(db.String(60)) # 电影标题
    year = db.Column(db.String(4)) # 电影年份

name = 'Grace Zhang'
movies = [
{'title': 'My Neighbor Totoro', 'year': '1988'},
{'title': 'Dead Poets Society', 'year': '1989'},
{'title': 'A Perfect World', 'year': '1993'},
{'title': 'Leon', 'year': '1994'},
{'title': 'Mahjong', 'year': '1996'},
{'title': 'Swallowtail Butterfly', 'year': '1996'},
{'title': 'King of Comedy', 'year': '1999'},
{'title': 'Devils on the Doorstep', 'year': '1999'},
{'title': 'WALL-E', 'year': '2008'},
{'title': 'The Pork of Music', 'year': '2012'},]
# @app.route('/')
# def index():
    
#     return render_template('index.html', name=name, movies=movies)



# def inject_user(): # 函数名可以随意修改
#     user = User.query.first()
#     return dict(user=user) # 需要返回字典，等同于return {'user': user}


# @app.errorhandler(404) # 传入要处理的错误代码
# def page_not_found(e): # 接受异常对象作为参数
#     user = User.query.first()
#     return render_template('404.html', user=user), 404 # 返回模板和状态码

# @app.context_processor
# @app.cli.command() # 注册为命令
# @click.option('--drop', is_flag=True, help='Create after drop.')
# # 设置选项
# def initdb(drop):
#     """Initialize the database."""
#     if drop: # 判断是否输入了选项
#         db.drop_all()
#     db.create_all()
#     click.echo('Initialized database.') # 输出提示信息

In [5]:
# from app import db
app.app_context().push()
db.create_all()

In [6]:
user = User(name='Grey Li') # 创建一个 User 记录
m1 = Movie(title='Leon', year='1994') # 创建一个 Movie 记录
m2 = Movie(title='Mahjong', year='1996') # 再创建一个 Movie
db.session.add(user) # 把新创建的记录添加到数据库会话
db.session.add(m1)
db.session.add(m2)
db.session.commit() #

In [10]:
 movie = Movie.query.all()

In [12]:
movie

In [13]:
import pandas as pd

In [14]:
pd.DataFrame(movie)

           0
0  <Movie 1>
1  <Movie 2>